<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fake Products</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">


</head>

<body>
    <div class="container">
        <h1 id="the-heading">Fake Products</h1>
        <div class="row">
            <nav class="nav flex-md-column flex-lg-column flex-sm-row">
                <a class="nav-link" href="#0">iPhone XI</a>
                <a class="nav-link" href="#1">PS5</a>
                <a class="nav-link" href="#2">XBOX TWO</a>
                <a class="nav-link" href="#3">iPad X</a>
                <a class="nav-link" href="#4">1DS</a>
                <a class="nav-link" href="#5">Toothbrush Headphone</a>
                <a class="nav-link" href="#6">Real Apple Laptop</a>
                <a class="nav-link" href="#7">Real Apple Watch</a>
                <a class="nav-link" href="#8">3310 Hammer</a>
                <a class="nav-link" href="#9">PSP Water Edition</a>
            </nav>
            <main class="col-sm-12 col-md-8">
                {{{body}}}
            </main>
        </div>
    </div>

    
    <script src="/public/js/myjs.min.js"></script>
</body>

</html>